.allcont{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: 20px;
 
    margin: auto;
    width: 40%;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
 
}



   body {
    background-image: url("./images/johnwick_background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
   }

#logo{
    width: 300px;
   
}

.jw{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: crimson;
    
}
.we{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: crimson;
}

